/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/*####################END OF RESET################################
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap : wrap;
    flex-direction: column;
}

.section {                      
    min-height : 200px;
}

.section1Container {
    display : flex;
    flex-direction: row;
    flex-wrap : wrap;
    row-gap: 5px;
    background-color: #1F2937;
    color: #f9faf8;
    flex : 2 1 100%;

}

div.headerLinksContainer {
    display : flex;
    width : 100%; 
    flex-direction: row;
    flex : 1 1 auto;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    align-self: flex-start;
    align-items: top;  
}

div.headerLogoContainer {
    display : flex;
    flex: 1 1 auto;
    align-items: top;
}

div.linksContainer {
    display : flex;
    gap: 20px;
    font-size: 18px ;
    color : #f9faf8;
    align-items: center;
}

.link {
    color : white;
    transition: transform 0.4s ease;
}

.link:hover {
    color : rgb(255, 0, 255, 0.8);
    transform: scale(0.98);
}

h1#headerLogo {
    flex: 1 1 auto ;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-size: 24px;
    color : #f9faf8;
}


.headerMainContainer {
    display : flex;
    width : 100%;
    height: 60%;
    flex : 1 1 auto;
    justify-content: space-between;
    padding-left : 100px;
    padding-right: 100px;

}

#headerDescription {
    flex : 1;
    display: flex;
    row-gap: 10px;
    flex-wrap: wrap;
    min-width: 300px;
}

div#headerImage {
    flex: 1;
    display : flex;
    justify-content: center;
}

div#headerImage > img {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border : 2px solid white;
}

.descriptionTitle {
    width : 100%;
    flex: 1 1 auto;
    margin : 0;
    font-size: 48px ;
    font-weight: 800;
    color : #f9faf8;
    position : relative;
    top : 40px;
}

.description {
    width: 100%;
    flex: 1 1 auto;
    margin: 0;
}

.signUp {
    width: 80px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
}

.section2Container {
    display : flex;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;
    height: 20%;
    justify-content: center;
    flex : 1 1 100%;
}
.section2Header {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}
.section2Content {
    margin-top : 40px;
    flex: 1 1 100%;
    display : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
    gap : 10px;
}

.section2Item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section2Image {
    padding : 0px;
    flex: 1 1 100%; 
    border: 2px solid #3882f6;
    border-radius: 25px;
    padding : 5px;
    margin-bottom : 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2Image a {
    height : 50%;
    border-radius: 25px;
    transition: transform 0.4s ease;
}

.section2Image a:hover {
    background-color: rgb(0, 0, 0, 0.25);
    transform: scale(0.95);
}

.section2Image a:focus {

}

.section2Image img {
    padding : 0px;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.section2Text {
    flex: 1 1 100%;
    text-align: center;
}


.section3Container {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #e5e7eb;
    padding-left: 175px;
    padding-right: 175px;

}

.quote {
    flex : 1 1 100%;
    text-align: left;
    font-style: italic;
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    margin : 0;
}

.author{
    flex : 1 1 100%;
    justify-self: center;
    text-align: end;
}

.section4Container {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left : 100px;
    padding-right : 100px;
    padding-top : 75px;
    padding-bottom: 75px; 
    background-color: #f9faf8;
    color: #f9faf8;
    font-size: 12px;
}   

.section4form {
    flex : 1 1 0    ;
    background-color: #3882f6;
    justify-content: flex-start;
    flex-wrap : nowrap;
    align-content: center;
    padding-left : 100px;
    padding-right : 100px;
}
.section4formlabel {
    flex : 1 1 auto;    
}
.section4message {
    font-size: 12px;
}
.section4formbutton {
    flex : 1 1 auto;
    justify-content: center;
    align-content: center;
}
.nested-flex-container {
    display: flex;
    flex: 1 1 auto;
    flex-basis: 0; /* Prevent auto-sizing based on content */
    flex-grow: 1; /* Allow to grow to fill available space */
    flex-shrink: 0; /* Prevent shrinking */
    gap: 10px; /* Optional: spacing between nested items */
    height: 60px;
}
.form-button {
    border-color: #f9faf8;
    padding : 0px;
    border-width: 5px;
}

.section5Container {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1F2937;
    color : #f9faf8;
}

footer a {
    color : white;
    transition: transform 0.4s ease;
}

footer a:hover {
    color : rgb(255, 0, 255, 0.8);
    transform: scale(0.98);
}


